/* Setup */

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout */

body {
    font-size: 1.8rem;
}

main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    margin: 0.5rem 1rem 1rem 1rem;
    border: 2px solid black;
}

button {
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
}